body {
    background-image: url(../images/background-image.jpg);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.container {
    background-color: rgba(255, 255, 0, 0.911);
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    column-gap: 50px;
    column-count: 2;
    padding: 10px;
    border-radius: 10px;
    color: rgb(16, 89, 247);
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

}

.btn:hover {
    border-color: rgb(16, 89, 247);
    border-radius: 5%;
}

.btn.correct {
    background-color: rgb(186, 252, 186);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 128, 0);
    border-radius: 10px;
}

.btn.wrong {
    background-color: rgb(253, 103, 103);
    color: rgb(0, 0, 0);
    border-color: rgb(255, 0, 0);
    border-radius: 10px;
}

.start-btn {
    color: rgb(0, 0, 0)
}

.end-btn {
    color: rgb(16, 89, 247);
}

.end-btn {
    font-weight: bold;
    font-size: 2rem;
}

.start-btn,
.next-btn {
    font-weight: bold;
    font-size: 2rem;
}

.controls {
    padding: 1%;
    border-radius: 10px;
}

.hide {
    display: none;
}

#question {
    color: rgb(255, 0, 0);
    font-size: medium;
    font-size: x-large;
}

#contact-form {
    background-color: rgba(255, 255, 0, 0.911);
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 10px;
}

@media screen and (max-width: 320px) {
    .container {
        max-height: 590px;
        padding-bottom: 3%
    }

    p {
        font-size: large;
    }

    .start-btn {
        font-size: 1.5rem;
    }

    .next-btn {
        font-size: 1rem;
    }

}

@media screen and (max-width: 375px) {
    .container {
        max-height: 800px;
        padding-bottom: 3%
    }

    p {
        font-size: 1.1rem;
    }

    .start-btn {
        font-size: 1rem;
    }

    .next-btn {
        font-size: 1rem;
    }

    @media screen and (max-width: 800px) {
        .container {
            max-height: 590px;
            padding-bottom: 3%
        }

        p {
            font-size: large;
        }

        .start-btn {
            font-size: 1.5rem;
        }

        .next-btn {
            font-size: 1rem;
        }
    }
}